<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="check_sum_operation">
    <test verbose="1" preserve-order="true" name="checksumoperation">
        <classes>
            <class name="testcases.TC01_Checksum"></class>
        </classes>
    </test>

    <test verbose="1" preserve-order="true" name="checkdifferent">
        <classes>
            <class name="testcases.TC02_CheckDifferent"></class>
        </classes>
    </test>

    <test verbose="1" preserve-order="true" name="checkdivision">
        <classes>
            <class name="testcases.TC03_CheckDivision"></class>
        </classes>
    </test>

    <test verbose="1" preserve-order="true" name="checkmulti">
        <classes>
            <class name="testcases.TC04_CheckMulti"></class>
        </classes>
    </test>

    <test verbose="1" preserve-order="true" name="checkcomplex">
        <classes>
            <class name="testcases.TC05_ComplexMath"></class>
        </classes>
    </test>

    <test verbose="1" preserve-order="true" name="checkcomplextwo">
        <classes>
            <class name="testcases.TC06_ComplexTwo"></class>
        </classes>
    </test>


</suite>